.idea/
.DS_Store
.cache/
.cmake/
_deps/
/cmake
/CMakeFiles/
/libs
/Testing
/.ninja_deps
/.ninja_log
/build.ninja
/cmake_install.cmake
CMakeCache.txt
/cpm-package-lock.cmake
/juce_vst3_helper
/libBinaryData.a
